@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
body {
  font-family: tahoma;
  height: 100vh;
  background-image: url('./img/2nd.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.hone {
  position: absolute;
  top:0px;
  left: 155px;
  max-height: 80px;
  border-radius: 12px;
}

.htwo {
  position: absolute;
  top: 2110px;
  left: 155px;
  max-height: 80px;
  border-radius: 12px;
}

.hthree {
  position: absolute;
  top: 2570px;
  left: 155px;
  max-height: 80px;
  border-radius: 12px;

}

.hfour {
  position: absolute;
  top: 2840px;
  left: 155px;
  max-height: 80px;
  border-radius: 12px;
  
}
.container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px  ;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /*background-color: #f5f5f5; */
  font-family: 'Baloo Paaji 2', cursive;
  position:absolute;
  left:100px;
  top:70px;
}
.container2 {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px  ;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /*background-color: #f5f5f5; */
  font-family: 'Baloo Paaji 2', cursive;
  position:absolute;
  left:160px;
  top:2190px;
}


.container3 {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /*background-color: #f5f5f5; */
  font-family: 'Baloo Paaji 2', cursive;
  position:absolute;
  left:610px;
  top:2650px;

}
/*.card {
  background-color: #222831;
  width: 14rem; 
  height: 22rem;
  border-radius: 20px;
  border-color: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;

} */

/*.card__name {
  margin-top: 15px;
  font-family: tahoma;
  font-size: 1.0em;
  
}*/

.card__image {
  height: 150px;
  width: 150px;
 /* border-radius: 60%;
  border: 3px solid #faef90;*/
  margin-top: 20px;
  box-shadow: 0 10px 50px #e2a32d;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card__image_logo {
  height: 150px;
  width: 150px;
  /*border-radius: 50%;
  border: 3px solid #faef90;*/
  margin-top: 20px;
  box-shadow: 0 10px 50px #e2a32d;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 01px;
  left: -200px;

}

.card__image_logo1 {
  height: 150px;
  width: 150px;
  /*border-radius: 50%;
  border: 3px solid #faef90;*/
  margin-top: 20px;
  box-shadow: 0 10px 50px #e2a32d;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 01px;
left: 170px;
}

.card__image:hover {
  opacity: 0.3;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text:hover {
  opacity: 1.0;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #d67a24;
  color: #d3853c;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  font-size: 10px;
  border-radius: 20%;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 20%;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eba919;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 0.5;
  font: 300 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 10rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}
/*
.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  transition: all 265ms ease-in;
 } 

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
} 
*/
